body {
    background: #ffafcc
}
main{
    text-align: center;
}
#slogan{
    font-size: 25px;
}
.capa  {
    width: 100%;
    height: 65%;
}
.conteudo{
    background:#ffcbf2 ;
}
.beneficios{
    background-color: azure;

}
ul{
    display: inline-block;
    vertical-align: top;
    padding: 10px;
    font-size: 20px;
    margin-right: 300px;
}
li{
    padding: 20px;
}
.foto-beneficio{
    width: 40%;
    text-align: right;
    padding: 10px;
}